@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.IndexResponseModel<StockApplicationASPNetWebMVCIndividualIdentity.Application.DBService.StocksAdapter>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">PE Ratio</th>
      <th scope="col">Roe</th>
      <th scope="col">Market Cap</th>
      <th scope="col">Eps</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.StockInfoDatums.GetRange(0, 19))
    {
        <tr>
        <th scope="row">@item.Ticker</th>
        @foreach (var stockAttribute in item.stockAttribute ?? new Dictionary<string, decimal>())
        {
                <td>@stockAttribute.Value</td>
        }
        </tr>
    }
  </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page: @(Model.PageIndex + 1) &nbsp;
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
