@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.IndexResponseModel<StockApplicationASPNetWebMVCIndividualIdentity.Application.DBService.StocksAdapter>

<div class="text-center">
    <h1 class="display-4">W5000 Stock Index</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Pb Ratio</th>
        <th scope="col">Pe Ratio</th>
        <th scope="col">Eps</th>
        <th scope="col">Div Yield</th>
    </tr>
    </thead>
    <tbody>
    <form method="POST">

        @foreach (var item in Model.StockInfoDatums.GetRange(0, 19))
        {
            <tr>
                <th scope="row">@item.Ticker</th>
                <td>@item.stockAttribute?["PbRatio"]</td>
                <td>@item.stockAttribute?["PeRatio"]</td>
                <td>@item.stockAttribute?["Eps"]</td>
                <td>@item.stockAttribute?["DivYield"]</td>
                <td>
                    <input type="submit"
                           asp-action="AddShortlist"
                           asp-controller="Home"
                           asp-route-ticker="@item.Ticker"
                           asp-route-stockid="@item.Id"
                           value="Add To Shortlist"/>
                </td>
            </tr>
        }
    </form>
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page: @(Model.PageIndex + 1) &nbsp;
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>