@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.IndexResponseModel<StockApplicationASPNetWebMVCIndividualIdentity.Application.DBService.StocksAdapter>

<div class="text-center">
    <h1 class="display-4">Shortlisted Stocks</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Value Metrics</th>
        <th scope="col">Growth Metrics</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StockInfoDatums.GetRange(0, Model.StockInfoDatums.Count))
    {
        <tr>
            <th scope="row">
                <a asp-action="IndividualStock"
                   asp-route-ticker="@item.Ticker"
                   class="btn btn-default">
                    @item.Ticker (Details)
                </a>
                <form
                    asp-action="CreateCheckoutIndividualStockReq"
                    asp-controller="Checkout"
                    method="POST">
                    <input id="Gold" type="radio" name="subscriptionType" value="Gold" /><label for="Gold">Gold Tier</label><br>
                    <input id="Silver" type="radio" name="subscriptionType" value="Silver" /><label for="Silver">Silver Tier</label><br>
                    <input type="hidden" name="stockDescription" value="@item.Ticker" />
                    <button
                        type="submit"
                        id="checkout-button">
                        Checkout
                    </button>
                </form>
            </th>
            <td>
                Pb Ratio: @item.stockAttribute?["PbRatio"]<br/>
                Pe Ratio: @item.stockAttribute?["PeRatio"] <br/>
                Eps: @item.stockAttribute?["Eps"] <br/>
                Avg. DivYield: @item.stockAttribute?["DivYield"]
            </td>
            <td>
                Sales Growth: <br/>
                Earnings Growth: <br/>
                Free Cash Flow Growth: <br/>
                Net Profit Margin:
            </td>
            <td>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveIncomeStatementData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Income Statements"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveKeyMetricData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Key Metrics"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveRatiosTtmData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Ratios TTM"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveCashFlowStatementData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Cash Flow Statements"/>
                </form>
                <form
                    asp-action="DeleteShortlist"
                    asp-controller="Home"
                    asp-route-ticker="@item.Ticker"
                    method="post">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page: @(Model.PageIndex + 1) &nbsp;
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>