@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.IndexResponseModel<StockApplicationASPNetWebMVCIndividualIdentity.Application.DBService.StocksAdapter>

<div class="text-center">
    <h1 class="display-4">Shortlisted Stocks</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Value Metrics</th>
        <th scope="col">Cashflow History</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StockInfoDatums.GetRange(0, Model.StockInfoDatums.Count))
    {
        <tr>
            <th scope="row">
                <a asp-action="IndividualStock"
                   asp-route-ticker="@item.Ticker"
                   class="btn btn-default">
                    @item.Ticker (Details)
                </a>
                @if (item.SubscriptionType != null && item.SubscriptionType.Contains("None"))
                {
                    <form
                        asp-action="CreateCheckoutIndividualStockReq"
                        asp-controller="Checkout"
                        method="POST">
                        <input 
                            id="Gold-@item.Ticker" 
                            type="radio" 
                            name="subscriptionType" 
                            value="Gold Tier @item.Ticker" />
                        <label for="Gold-@item.Ticker">Gold Tier</label><br>
                        <input 
                            id="Silver-@item.Ticker" 
                            type="radio" 
                            name="subscriptionType" 
                            value="Silver Tier @item.Ticker" />
                        <label for="Silver-@item.Ticker">Silver Tier</label><br>
                        <button
                            type="submit"
                            id="checkout-button">
                            Upgrade
                        </button>
                    </form>
                }
                else 
                {
                    if(item.SubscriptionType != null && item.SubscriptionType.Contains("Gold"))
                    {
                        <div>Gold Tier</div>
                    }
                    if(item.SubscriptionType != null && item.SubscriptionType.Contains("Silver"))
                    {
                        <div>Silver Tier</div>
                    }
                }
            </th>
            <td>
                Pb Ratio: @item.stockAttribute?["PbRatio"]<br/>
                Pe Ratio: @item.stockAttribute?["PeRatio"] <br/>
                Eps: @item.stockAttribute?["Eps"] <br/>
                Avg. DivYield: @item.stockAttribute?["DivYield"] <br/>
                MarketCap: @item.stockAttribute?["MarketCap"].ToString("#,##0") <br/>
                IntrinsicValue: @item.stockAttribute?["IntrinsicValue"].ToString("#,##0") <br/>
                PredictedMarketCap: @item.stockAttribute?["PredictedIntrinsicValue"].ToString("#,##0")
            </td>
            <td>
                Cashflow Year 1: @(item.stockAttribute.ContainsKey("Cashflow0") ? item.stockAttribute?["Cashflow0"].ToString("#,##0") : "")<br/>
                Cashflow Year 2: @(item.stockAttribute.ContainsKey("Cashflow1") ? item.stockAttribute?["Cashflow1"].ToString("#,##0") : "")<br/>
                Cashflow Year 3: @(item.stockAttribute.ContainsKey("Cashflow2") ? item.stockAttribute?["Cashflow2"].ToString("#,##0") : "")<br/>
                Cashflow Year 4: @(item.stockAttribute.ContainsKey("Cashflow3") ? item.stockAttribute?["Cashflow3"].ToString("#,##0") : "")<br/>
                Cashflow Year 5: @(item.stockAttribute.ContainsKey("Cashflow4") ? item.stockAttribute?["Cashflow4"].ToString("#,##0") : "")<br/>
                Cashflow Year 6: @(item.stockAttribute.ContainsKey("Cashflow5") ? item.stockAttribute?["Cashflow5"].ToString("#,##0") : "")<br/>
                Cashflow Year 7: @(item.stockAttribute.ContainsKey("Cashflow6") ? item.stockAttribute?["Cashflow6"].ToString("#,##0") : "")<br/>
                Cashflow Year 8: @(item.stockAttribute.ContainsKey("Cashflow7") ? item.stockAttribute?["Cashflow7"].ToString("#,##0") : "")<br/>
                Cashflow Year 9: @(item.stockAttribute.ContainsKey("Cashflow8") ? item.stockAttribute?["Cashflow8"].ToString("#,##0") : "")<br/>
                Cashflow Year 10: @(item.stockAttribute.ContainsKey("Cashflow9") ? item.stockAttribute?["Cashflow9"].ToString("#,##0") : "")<br/>
            </td>
            <td>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveIncomeStatementData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Income Statements"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveKeyMetricData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Key Metrics"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveRatiosTtmData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Ratios TTM"/>
                </form>
                <form method="post">
                    <input
                        type="submit"
                        asp-controller="Home"
                        asp-action="RetrieveCashFlowStatementData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success"
                        value="Retrieve Cash Flow Statements"/>
                </form>
                <form
                    asp-action="DeleteShortlist"
                    asp-controller="Home"
                    asp-route-ticker="@item.Ticker"
                    method="post">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page: @(Model.PageIndex + 1) &nbsp;
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>