@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.IndexResponseModel<StockApplicationASPNetWebMVCIndividualIdentity.Application.DBService.StocksAdapter>

<div class="text-center">
    <h1 class="display-4">Shortlisted Stocks</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Value Metrics</th>
        <th scope="col">Growth Metrics</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StockInfoDatums.GetRange(0, Model.StockInfoDatums.Count))
    {
        <tr>
            <th scope="row">@item.Ticker</th>
            <td>Pb Ratio: @item.stockAttribute?["PbRatio"]<br />
                Pe Ratio: @item.stockAttribute?["PeRatio"] <br />
                Eps: @item.stockAttribute?["Eps"] <br />
                Avg. DivYield: @item.stockAttribute?["DivYield"] </td>
            <td>Sales Growth: <br />
                Earnings Growth: <br />
                Free Cash Flow Growth: <br />
                Net Profit Margin: </td>
            <td>
                <form method="post">
                    <input 
                        type="submit" 
                        asp-controller="Home"
                        asp-action="RetrieveStockData"
                        asp-route-ticker="@item.Ticker"
                        class="btn btn-success" 
                        value="Retrieve Income Statements" 
                    />
                </form>
                <form 
                    asp-action="DeleteShortlist" 
                    asp-controller="Home" 
                    asp-route-ticker="@item.Ticker" 
                    method="post">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page: @(Model.PageIndex + 1) &nbsp;
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Shortlist"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>