@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Stripe
@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Home.UpdateAddressResponse

<h2>Shipping Address</h2>
<p>Please update your shipping address for purchasing</p>
<form method="POST">
    Name
    <input type="text" name="name" value="@Model.Name" />
    Street
    <input type="text" name="line1" value="@Model.Address.Line1"/>
    City
    <input type="text" name="city" value="@Model.Address.City"/>
    Postal Code
    <input type="text" name="postalcode" value="@Model.Address.PostalCode"/>
    <label for="country">Country</label>
    <select
        name="country"
        id="country" 
    >
        <option value="CA">Canada</option>
        <option value="US">USA</option>
        <option value="GB-ENG">England</option>
    </select>
    <label for="state">State</label>
    <input type="text" name="state" value="@Model.Address.State"/>
    <input
        type="submit"
        asp-controller="Checkout"
        asp-action="PerformUpdateShippingAddress"
        class="btn btn-success"
        value="Update Shipping Address"/>
</form>